@keyframes logofooter {
    0%{
        transform: translatex(25px);
    }
    25%{
        transform: translatex(30px);
    }
    50%{
        transform: translatex(45px);
    }
    75%{
        transform: translatex(250px);
    }
    100%{
        transform: translatex(55px);
    }
    
}
footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: solid 1px white;
    margin-top: 10px;

    img{
        width: 40px;
        border-radius: 10px;
        margin-left: 25px;
        transition: 2s;

        animation-name: logofooter;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
        animation-duration: 5s;
    }

    p {
        color: white;
    }

    ul{
        display: flex;
        list-style-type: none;
        li{
            a{
                text-decoration: none;
                color: white;
                margin: 5px;
                font-family: Arial, Helvetica, sans-serif;
                &:visited{
                    color: darkgoldenrod;
                }
            }
        }
    }
}

