.input {
    display: flex;
    justify-content: center;

}
.boton-enviar {
    background-image: linear-gradient(to right,blueviolet,red  );
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 15px;
    border-radius: 5px;

    &:hover {
        background-color: darkorange;
    }
}

.mi-clase {
    @extend .boton-enviar;
}
